@media (max-width: 480px) {
  .main__content {
    flex-direction: column-reverse;
  }

  .right__section {
    width: 100%;
  }

  .left__section {
    width: 100%;
  }

  .left__content {
    width: 80%;
    margin: 0 auto;
  }

  .left__content p {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .left__content h1 {
    display: none;
  }

  .right__section {
    display: block;
    padding-top: 20px;
  }

  .form__header {
    display: block;
  }

  .form__header h2 {
    color: white;
    font-size: 1.4em;
    margin-bottom: 10px;
  }

 .form__header p {
    color: var(--primaryColor);
    font-size: 1em;
    margin-bottom: 10px;
  }

  .right__content {
    width: 100%;
    margin: 0 auto;
  }
}


